.about-section {
    /* background-color: aqua; */
    margin: 100px auto;
    max-width: 1280px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.about-section .about-img {
    max-width: 450px;
}
.about-section .about-img img {
    width: 100%;
    box-shadow: 10px 10px 70px rgba(61, 120, 156, 0.5);
    border-radius: 3px;
}

.about-section .about-text {
    /* background-color: #53599A; */
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap:  20px;
}

.about-section .about-text h3 {
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 35px;
    color: #53599A;
}

.about-section .about-text p {
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 27px;
}

.about-section .about-text .link-see-all-team {
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-decoration: none;
    color: #53599A;
}

.about-section .about-text .link-see-all-team:hover {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .about-section .about-text {
        /* margin-left: 40px; */
        transform: translateX(30px);
    }
}

@media (max-width: 912px) {
    .about-section .about-img {
        max-width: 400px;
    }

    .about-section .about-text {
        transform: translateX(20px);
    }
}

@media (max-width: 853px) {
    .about-section .about-text {
        transform: translateX(10px);
    }
}


@media (max-width: 770px) {
    .about-section {
        flex-direction: column;
        gap: 100px;
    }
    
    .about-section .about-text {
        transform: translateX(20px);
    }
}

@media (max-width: 440px) {
    .about-section .about-img {
        max-width: 350px;
    }
}

@media (max-width: 365px) {
    .about-section .about-img {
        max-width: 320px;
    }
}