.container-login form {
    /* border: 1px solid black; */
    padding: 10px;
    width: 100%;

    max-width: 540px;
}

.container-login form h3 {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;

    margin-bottom: 20px;
}

.container-login form .email {
    font-size: 1.4rem;
    letter-spacing: 2px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-login form .email input {
    height: 40px;
    border-radius: 20px;
    outline: none;
    padding: 0 15px;

    font-family: "EB Garamond", serif;
    letter-spacing: 1.5px;
    font-size: 1.1rem;
    border: 1px solid purple;
}



.container-login form .password {
    font-size: 1.4rem;
    letter-spacing: 2px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 15px;
}

.container-login form .password input {
    height: 40px;
    border-radius: 20px;
    outline: none;
    padding: 0 15px;

    font-family: "EB Garamond", serif;
    letter-spacing: 1.5px;
    font-size: 1.1rem;
    border: 1px solid purple;
}

.container-login form button.login {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    letter-spacing: 2px;
    background-color: #53599A;
    color: white;
}

.container-login form .toregister {
    /* background-color: #53599A; */
    font-size: 1.1rem;
    font-style: italic;
    color: #53599A;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
    /* font-weight: 600; */
}

.container-login form .toregister:hover {
    text-decoration: underline;
}

.container-login form .regist-socmed {
    margin-top: 30px;
    width: 100%;

    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1.6rem;
    /* justify-content: space-between;    */
}

.container-login form .regist-socmed .google {
    width: 64px;
    border: 0.5px solid #53599A;
    border-radius: 20px;
    padding: 10px;

    box-shadow: 5px 5px 50px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.container-login form .regist-socmed .google:hover {
    transform: translateY(-10px);
    transition: .5s;
}

.container-login form .regist-socmed .facebook {
    width: 64px;
    border: 0.5px solid #53599A;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.container-login form .regist-socmed .facebook:hover {
    transform: translateY(-10px);
    transition: .5s;
}

@media (min-width: 768px) {
    .container-login form {
        max-width: 400px;
        box-shadow: 5px 5px 50px rgba(0, 0, 0, .1);
        /* background-color: antiquewhite  transparent; */
        /* opacity: 0.4; */
    }
}

@media (min-width: 1024px) {
    
    .container-login form {
        background-color: none;
        box-shadow: none;
    }
    
}