/* .register-form {
    background-color: aqua;
} */

.register-form .back-to-login-page {
    text-decoration: none;
    font-style: italic;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: "EB Garamond";

    letter-spacing: 2px;
    color: #53599A;
}

.register-form .back-to-login-page:hover {
    text-decoration: underline;
}